/* Attributes for IDs*/
#header-nav {
  border: 1;
  border-color: #505050;
  background-color: #B0B0B0;
}

#nav-list {
  margin: 0;
  padding: 0;
  border: 0px;
}

#nav-list a {
  text-align: center;
  background: #F0F0F0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid #505050;
 }

#nav-list a:hover {
  background: #D7D7D7;
}

#collapsable-nav {
  padding: 0;
}

/* Attributes for Classes*/

.box_border{
  background-color: #B0B0B0;
  margin-top: 1%;
  margin-bottom: 1%;
}

/* Attributes for Tags*/
.navbar-brand h1 { 
  color: #505050;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

body{
  font-family: Arial, Sans-Serif;
}

h3 {
  text-align: center;
}